img {
  padding-top: 109px;
  display: block;
  clear: right;
  width: 272px;
  height: 92px;
  margin: auto;
}
ul {
  list-style-type: none;
  font-family: Arial, sans-serif;
  font-size: 13px;
}
li {
  padding-left: 27px;
}
li:hover {
  text-decoration: underline;
}
* {
  object-position: center;
}
.header{
  display: flex;
  float:right;
  right: 10px;
}
.footer_block {
  margin-bottom: 0px;
  display: flex;
}
.buttons {
  padding: 1px 16px 1px 16px;
  font-family: arial,sans-serif;
  text-align: center;
  background-color: #f2f2f2;
  border-radius: 2px;
  border: 1px solid #f2f2f2;
  color: #757575;
  font-weight: bold;
  padding: 0px 16px 0px 16px;
  border-width: 1px;
  margin: 11px 4px 11px 4px;
}
.buttons:hover {
  padding: 1px 16px 1px 16px;
  font-family: arial,sans-serif;
  text-align: center;
  background-color: #f2f2f2;
  border-radius: 2px;
  border: 1px solid #f2f2f2;
  color: #000000;
  border-color:rgb(200,200,200);
  font-weight: bold;
}
#search_button {
  width: 127px;
  height: 34px;
}
#lucky {
  width: 145px;
  height: 34px;
}
#left {
  float: left;
  left: 10px;
  margin-left: -50px;
}
#right {
  float: right;
  right: 30px;
  margin-right: 30px;
}
#search {
  height: 38px;
  width: 484px;
  border: 1px solid #d9d9d9;
  display: block;
  font-size: 13px;
  white-space: nowrap;
}
#search:hover {
  border-color: #b9b9b9;
  border-top-color: #a0a0a0;
}
#footer {
  background-color: #f2f2f2;
  height: 40px;
  vertical-align: middle;
  width: 100%;
  display: block;
  position: absolute;
  color: rgb(102,102,102);
  bottom: 0px;
}
#search_text {
  padding: 5px;
  height: 38px;
  width: 484px;
  border: none;
}
#sign_in {
  color: #ffffff;
  background-color: #4285f4;
  border: 1px solid #4285f4;
  font-weight: bold;
  padding: 0px 12px 0px 12px;
  width: auto;
  height: 28px;
  border-radius: 3px;
  vertical-align: middle;
  margin-top: -10px;
}
#login {
  position: relative;
  top:5px;
  text-decoration:none;
}
